.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#fafafa !important;
}

@media screen and (max-width: 580px) {
  .Footer {
    flex-wrap: wrap;
  }
  
  .Footer > * {
    flex-basis: 100%;
  }
}