.Intro {
  padding: var(--gutter-size);
  background-color: #f5f5f5;
}

.Intro__carousel {
  --height: 250px;

  height: var(--height);
  margin-top: var(--gutter-size);
}

.Intro__item {
  height: var(--height);
} 