.Intro {
  padding: var(--gutter-size);
  background-color: #f5f5f5;
}

.Intro__carousel {
  --height: 250px;

  height: var(--height);
  margin-top: var(--gutter-size);
}

.Intro__item {
  height: var(--height);
  text-align: center;
} 

.Intro__carousel .slick-dots li button {
  background-color: #91d5ff !important;
}

.Intro__carousel .slick-dots li.slick-active button {
  background-color: #1890ff !important;
}